*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #790000;
}

header{
     position: sticky;
     top:0;
     padding: 100px;
     transition:background-color 0.4s ease-in-out;
}

header.scrolled{
     background-color: ivory;
     opacity: 0.98;
}

nav{
     position: sticky;
     top: 0;
     padding: auto;
     background-color: rgba(255, 255, 255, 0.151);
     transition:background-color 0.4s ease-in-out;
}
nav.scrolled{
     background-color: rgba(255, 255, 255, 0.7);
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(15px);
}
nav ul{
     width: auto;
     list-style: none;
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

nav img {
     max-width: 100%;
     width: auto;
     max-height: 100%;
     height: auto;
   }
   
nav li{
     height: 70px;

}
nav a {
     height: 100%;
     padding: 0 30px;
     text-decoration: none;
     display: flex;
     align-items: center;
     color: black;
}

nav a:hover{
    background-color: rgba(102, 205, 171, 0.288);
}
nav li:first-child{
     margin-right: auto;
     margin-top: 0px;
}

.sidebar{
     position: fixed;
     top: 0; 
     right: 0;
     height: 100vh;
     width: 250px;
     background-color: rgba(255, 255, 255, 0.15);
     backdrop-filter: blur(8px);
     box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
     list-style: none;
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
   }
.sidebar li{
     width: 100%;
}
.sidebar a{
     width: 100%;
}
.sidebar a:hover{
     background-color: mediumaquamarine;
 }
 .menu-button{
     display: none;
 }

 @media(max-width: 800px){
     .hideOnMoble{
          display: none;
     }
     .menu-button{
          display: block;
     }
 }
  @media(max-width: 400px){
     .sidebar{
          width: 100%;
     }
  }

